* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3e3e3;
    font-family: 'Arial', 'Arial Narrow', sans-serif;
}

.cabecalho{
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    background-color: #fff;
    padding: 1rem;box-shadow: 1px 1px 10px #000;
}

.principal{
    margin: 0 auto;
    display: block;
    width: 80%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 10px #000;
    
}

.principal li{
    list-style-type: none;
}

.principal section.experiencia, .objetivo, footer {
    margin: 1rem;
}

li.segundo {
    text-indent: 1em;
}

li.terceiro {
    text-indent: 2em;
}

li.botton {
    padding-bottom: 5px;
}

.experiencia li {
    padding-bottom: 0.5rem;
}

footer>h3 {
    text-align: center;
    padding-bottom: 8px;
}

.redes-sociais {
    text-align: center;
}

.redes-sociais a {
    display: inline;
    margin: 0 auto;
    padding-bottom: 15px;
}

footer>h4 {
    text-align: center;
    padding: 30px 0 15px 0;
}

footer>p {
    text-align: center;
    padding-top: 20px;
}

.formulario {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.formulario input {
    width: 50%;
    height: 30px
}

.botao {
    width: 100px;
    height: 60px;
}

